*{
    margin: 0;
    top: 0;
}

.navbar{
    height: 50px;
    background-color:  #191414;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%; 
    max-width: 1024px;
    color: #191414;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
    font-size: 32px;
    color: white;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #1DB954;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}